/* Fonts:
    Lato: sans-serif, whole page
    Montserrat: bold sans-serif, asides
    Roboto Slab: serif, headings
*/
*{box-sizing:border-box;}
a{color:#349;}
html{font:16pt/20pt Lato,sans-serif;background:#eee;color:#222;margin:0;padding:0;}
body{width:1000px;max-width:90%;background:rgba(10,10,10,.2);margin:0 auto;padding:0;text-align:center;}
h1,h2,h3{font-family:"Roboto Slab",serif;}
header{width:100%;background:#003;text-align:center;color:#eef;}
header h1{display:inline-block;font-size:3em;}
header nav{display:inline-block;}
header nav ul li{display:inline-block;}
header nav ul li a{display:block;color:#eef;padding:.25em 1em;border-left:solid thin #eef;text-decoration:none;}
header nav ul li:first-of-type a{border-left:0px;}
header nav ul .current a,header nav ul li a:hover{background:#eef;color:#006;}
header aside,footer{background:#334;text-align:center;padding:1em;color:#dde;font-family:Montserrat,serif;}
header aside a,footer a{color:#dde;}
#main{width:100%;overflow: hidden;clear:both;}
#main img{max-width:90%;}
#main div{float:left;}
#main .projects{width:70%;min-height:35em;border-right:thin solid #bbb;border-left:thin solid #aaa;}
#main .projects>ul,#main .doodles>ul{list-style:none;padding:0;}
#main .projects li{display:inline-block;width:30%;margin:1em 0;}
#main .doodles{width:30%;min-height:35em;border-left:thin solid #aaa;border-right:thin solid #aaa;padding-bottom: 20000px;margin-bottom: -20000px;}
#main .doodles li{border-top:thin dashed #888;padding-bottom:1em;}
#main .doodles li:first-of-type{border:0;}
footer{width:100%;clear:both;text-align:center;}
footer a{display:inline-block;padding:.75em;margin:.75em;color:#ff8800;border:2px solid #ff8800;border-radius:3px;}
footer p{display:inline-block;width:60%;}
@media (max-width:500px){
    #main div{clear:both;}
    #main .projects,#main .doodles{width:100%;border:0;}
}