/* Colors:
    black #000
    dark grey #333
    dark blue #006
    lighter blue #009
    gold #fe3
    pale gold #fe9
*/
*{box-sizing:border-box;}
html{font:16pt/20pt sans-serif;background:#000;color:#eef;margin:0;padding:0;}
body{width:1000px;max-width:90%;background:#111;margin:0 auto;padding:0;text-align:center;}
header{width:100%;background:#003;text-align:center;}
header h1{display:inline-block;}
header nav{display:inline-block;}
header nav ul li{display:inline-block;}
header nav ul li a{display:block;color:#eef;padding:.25em 1em;border-left:solid thin #eef;text-decoration:none;}
header nav ul li:first-of-type a{border-left:0px;}
header nav ul .current a{background:#eef;color:#006;}
header aside,footer{background:#eef;text-align:center;padding:1em;color:#006;}
#main{width:100%;overflow: hidden;clear:both;}
#main div{float:left;}
#main .projects{width:60%;min-height:35em;}
#main .projects>ul,#main .doodles>ul{list-style:none;padding:0;}
#main .projects li{display:inline-block;width:30%;margin:1em 0;}
#main .projects li img{max-width:90%;}
#main .doodles{width:39%;min-height:35em;}
footer{width:100%;clear:both;}